.index-page {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  
  &__cards {
    flex-direction: column;
    justify-content: center;
    
    @media (min-width: 768px) {
      justify-content: flex-start;
    }
  }
}
