@import "base/_variables";
@import "base/_globals"; 
@import "base/_fonts"; 
@import "layout/_page";

@import "base/_datepicker"; 

@import "components/bottom-navbar";
@import "components/calculation-steps";
@import "components/buy-prediction-button";
@import "components/check-button";
@import "components/destiny-result";
@import "components/account-header";
@import "components/notification";

@import "pages/index-page"; 
@import "pages/profile-page"; 
@import "pages/destiny-number-page";
@import "pages/numerology-page";
@import "pages/tarot-result-page";

