@import "base/variables";
@import "base/globals"; 
@import "base/fonts"; 
@import "layout/page";

@import "base/datepicker"; 

@import "components/bottom-navbar";
@import "components/calculation-steps";
@import "components/buy-prediction-button";
@import "components/check-button";
@import "components/destiny-result";
@import "components/account-header";
@import "components/notification";
@import "components/numerology/date-picker";

@import "pages/index-page"; 
@import "pages/profile-page"; 
@import "pages/destiny-number-page";
@import "pages/numerology-page";


