.tarot-arc {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  &__item {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform-origin: center;
    will-change: transform;
    transition: transform 0.3s ease-out;
  }

  &__debug {
    overflow: visible;
  }
}

