.new-tarot-stage {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(135deg, #1e1b4b 0%, #581c87 100%);

  &__content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  &__wheel-wrapper {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -40%);
  }
}



