@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-info: 'Open Sans', sans-serif;
  }

  @font-face {
    font-family: "kudry";
    src: url("/fonts/kudry_weird-headline.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
