:root {
  --bg: #ffffff; 
  --primary: #886abd;
  --primary-light: #cbbbe2;
  --accent: #886abd; 
  --text: #2d1e2f;
  --text-subtle: #7c6f8e;
  --border: #ddd3ec;
}

body.light {
  --bg: #ffffff;
  --surface: #f6f3fe;
  --primary: #886abd;
  --primary-light: #cbbbe2;
  --accent: #a38acc;
  --text: #2d1e2f;
  --text-subtle: #7c6f8e;
  --border: #ddd3ec;
  --bordev: #623384;
}

body.dark {
  --bg: #0f071c; 
  --surface: #252131; 
  --primary: #cbbbe2; 
  --primary-light: #b09ad3; 
  --accent: #b09ad3; 
  --text: #ffffff; 
  --text-subtle: #908c99; 
  --border: #3c3847; 
}
